<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ejs评论列表</title>
</head>

<body>
    <div id='container'>  
        <% var name = 'wuzi'%> 
        <div>Hello,My name is <%=name%></div>
        <%- welcome to my  %>
        <!--<% include header %>-->
        <%- include('./header.ejs') %>
        <% for(var i = 0;i<commentData.data.length; i++){%>
            <div>名称<%=commentData.data[i].username%></div>
            <div>等级<%=commentData.data[i].level%></div>
            <div>时间<%=commentData.data[i].time%></div>
            <div>评价内容<%=commentData.data[i].content%></div>
        <%}%>
    </div>
</body>

</html>